*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
:root{
  --white: #fff;
  --black: #000;
  --green-blue: #00FFCE;
  --blue-light: #C0FFF3;
}

@media(max-width: 1080px){
  html{
    font-size: 93.75%;
  }
}

@media(max-width: 720px){
  html{
    font-size: 87.5%;
  }
}

body {
  background: var(--blue-light);

}

body, input, textarea, button{
  font: 500 1rem sens-serif;
  color: var(--black);
}

h1{
  font-weight: 600;
  font-size: 2rem;
  font-family: Lexend, sens-serif;
}

h2{
  font-size: 1.5rem;
}

button{
  cursor: pointer;
}
.listWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
}
.Container h2{

  padding: 1rem 2rem;
  padding-top: 2rem;
}

.listWrapperPost{
  display: flex;
  align-items: center;
  justify-content: center;
}
.listWrapperUsers{
  display: row;
  align-items: center;
  justify-content: center;
}